body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    color: grey;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.margin-bottom {
    margin-bottom: 150px;
}

.margin-top {
    margin-top: 100px;
}

/* banner-section  */
.banner-sec {
    background-image: url(../img/donate1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
}

.banner-sec h1 {
    color: #fff;
    margin: 0;
    padding: 10% 0 10px;

}

.banner-sec p {
    padding-bottom: 3%;
    color: #fff;
}

.donate-button {
    background-color: blue;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
}

/* donation priceing box section */
.donate-sec {
    width: 50%;
    margin: 0 auto;
}

.price-box {
    background-color: rgba(39, 226, 245, 0.07);
    padding: 7px;
    margin: 20px 23px;
    width: 111px;
    font-weight: 700;
}

.price-box h2 {
    font-weight: 800;
    color: gray;
}

.box-selected {
    border: 3px solid blue;
    background-color: rgb(39 226 245 / 13%);
}

.box-selected h2 {
    color: blue;
}

.amount-filed input {
    outline: none;
    border: none;
    height: 2em;
    width: 68%;
    font-size: 15px;
    margin-bottom: 1px;
    border-bottom: 1px solid #80808047;
    text-align: center;
    color: #00000070;
    margin: 6% 0;
}


/* donate plan */
.donate-plan .donate-plan-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 6%;
}

.plan-box-one {
    background-color: rgba(39, 226, 245, 0.07);
    width: 30%;
    padding: 3%;
    border-radius: 10px;
    margin: 0 20px;
}

.plan-box-one img {
    width: 60px;
}

.plan-box-one p {
    font-size: 14px;
}

.plan-box-two {
    background-color: rgba(245, 39, 39, 0.07);
    width: 30%;
    padding: 3%;
    border-radius: 10px;
    margin: 0 20px;
}

.plan-box-two img {
    width: 60px;
}

.plan-box-two p {
    font-size: 14px;
}

.plan-box-three {
    background-color: rgba(245, 229, 39, 0.07);
    width: 30%;
    padding: 3%;
    border-radius: 10px;
    margin: 0 20px;
}

.plan-box-three img {
    width: 60px;
}

.plan-box-three p {
    font-size: 14px;
}

/* contribute section */
.contribute-section {
    width: 70%;
    margin: 0 auto;
    padding: 0 0 7%;
}

.contribute-text {
    width: 46%;
    padding: 0px 41px;
}

.contribute-btn {
    margin-top: 55px;
}

.contribute-img img {
    width: 410px;
    height: 370px;
    border-radius: 10px;
}


/* location section */
.location-section {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 7%;
}

.location-text {
    width: 36%;
    padding: 0px 41px;
}

.location-text h2 {
    border-bottom: 1px solid gray;
    border-right: 2%;
}

.location-btn {
    margin-top: 55px;
}

.location-img {
    width: 60%;
}

.location-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* subscribe plan */
.subscribe {
    background: rgba(245, 229, 39, 0.07);
    padding: 65px;
    margin-top: 5%;
}

.subscribe input {
    border: none;
    outline: none;
    width: 65%;
    font-size: 15px;
    background: #9e9e9e;
    padding: 12px 22px;
    border-radius: 5px;
}

.subscribe-button {
    background-color: blue;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 5px;
    color: #fff;
}

/* footer section */
.footer-sec {
    background-color: #000;
    padding: 2%;
}