body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    color: #fff;
}

.text-center {
    text-align: center;
}

.margin-bottom {
    margin-bottom: 150px;
}

.banner-sec {
    background-image: url(../img/donate1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
}

.banner-sec h1 {
    color: #fff;
    margin: 0;
    padding: 10% 0 10px;

}

.banner-sec p {
    padding-bottom: 3%;
}

.donate-button {
    background-color: blue;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
}